.body__container {
    display: block;
}
.navigation {
  background-color: #7cea9c;
  padding: 1rem;
  display: block;
  
  &__image {
      text-align: center;
  }

  &__container {
    max-height: 0;
    padding: 0;
    overflow: hidden;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
      padding: .4rem;
    a {
      text-decoration: none;
      color: $dark;
      font-weight: $regular;

      &:hover {
        color: $light-gray;
      }

      &:focus {
        color: $soft-gray;
      }
    }
  }
}

.collapsible {
  text-align: center;

  label {
    display: block;
    margin-top: 1rem;
  }
}

#menu {
  display: none;
}

input:checked ~ .navigation__container {
  max-height: 100%;
}

@media only screen and (min-width: 768px) {
    .body__container {
        display: flex;
    }
  .navigation {
    margin: 0;
    height: 100%;
    padding: 10rem 1rem;
   
    &__container {
        max-height: 100%;
        overflow: visible;
        padding: 1.5rem 1rem;
        width: 11rem;
    }

    &__list {
    }

    &__item {
      a {
        font-weight: $regular;
        letter-spacing: 1px;
      }

      a:hover {
        font-weight: $regular;
      }
    }
  }

  .collapsible {
    label {
      display: none;
    }
  }
}
