//First Color Scheme
$light-green: #7cea9c;
$dark-blue: #2d3047;
$dark: #071013;
$white:#FFFFFF;
$light-gray:#7d7d7d;
$soft-gray: #bebebe;

//Font Family

$lato: "Lato", sans-serif;

//Font Weight

$black: 900;
$bold: 700;
$regular: 400;
$light: 300;
